html, body {
    min-height: 100%;
}

body {
    background-color: darkslateblue;
    color: aliceblue;
}

table {
    float: left;
    width: 50%;
    box-sizing: border-box
}

th {
    border-bottom: 1px solid white;
}

input[text] {
    width: 100%;
}

button {
    width: 100%;
}
